{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}TKBuild Projects{% endblock %}</h1>
{% endblock %}

{% block content %}

{% for proj in projects %}
    <div class="row pt-2 pb-2 border-top border-bottom border-secondary border-3">
        <div class="col-sm-2">
            {% if proj.icon %}
            <img src="static/{{ proj.icon }}" width="167" height="167" class="figure-img img-fluid rounded">
            {% else %}
            <div class="rounded display-6" style="color: #eeffee; display:flex; align-items: center; justify-content: center;  width: 167px; height: 167px; background: linear-gradient(0deg, rgba(18,110,19,1) 0%, rgba(133,193,17,1) 64%, rgba(146,252,69,1) 100%);"> {{ proj.projectId }} </div>
            {% endif %}
        </div>
        <div class="col-lg-10">
            {% with job=lastjob[ proj.projectId ] %}
                <p class="h2">{{ proj.projectId }}
                    {% if job %}
                        {% if job.activeStatus()=='done' %}
                            <span class="badge bg-success">Success</span>
                        {% elif job.activeStatus()=='active' %}
                            <span class="badge bg-info text-dark">Active</span>
                        {% elif job.activeStatus()=='fail' %}
                            <span class="badge bg-warning">Failed</span>
                        {% elif job.activeStatus()=='cancel' %}
                            <span class="badge bg-success">Cancelled</span>
                        {% else %}
                            <span class="badge bg-warning">Somthing</span>
                        {% endif %}
                    </p>

                    <ul class="list-unstyled">
                    <li><em>Latest Job: </em><a href="{{ url_for('job_details', jobkey=job.jobKey ) }}">{{ job.jobKey|friendly }}</a></li>
                    <li><em>Build Version: </em><a href="{{ url_for('builds_overview') }}">#{{ job.buildNum }} &mdash; v{{ job.version }}</a></li>
                    <li><em>Commit: </em><a href="{{ proj.getCommitUrl( job.commitVer )}}" target="_blank">{{ job.commitVer }}</a></li>
                    </ul>

                {% else %}
                    <span class="badge bg-secondary">Unknown</span>
                    </p>
                    <p>No job info available.</p>
                {% endif %}
            {% endwith %}
        </div>

    </div>
{% endfor %}

{% endblock %}