{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Jobs Overview{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="row">
    <p> New Job:
    {% for p in projects %}
        <a href="{{ url_for('project_add_job', project_id=p ) }}">
            <button type="button" class="btn btn-primary">+ {{ p }}</button>
        </a>
    {% endfor %}
    </p>
</div>

<div class="row">
    <h2>Active Jobs</h2>
</div>
<div class="row pt-2 border-top border-secondary border-3">

<div class="row">
{% for job in jobs_active %}

    <div class="card" style="width: 18rem;" >
            <div class="card-header">
                <p class="h4">{{ job.projectId }}-{{ job.platform }}</p>
                <p>
                    <span class="badge bg-danger">Errors: {{ job.errorCount }}</span>
                    <span class="badge bg-warning text-dark">Warnings: {{ job.warnCount }}</span>
                </p>

                <p><small><a href="{{url_for('job_details', jobkey=job.jobKey )}}">{{ job.jobKey|friendly }}</a></small></p>
            </div>

            <div class="card-body">

              <p>Build from commit {{ job.commitVer }}</p>
                <p>Steps:
                {% for ws in job.wsnames %}
                  <span class="badge rounded-pill {{ wsstyles[ job.worksteps[ws] ] }}">{{ ws }}</span>
                {% endfor %}
                </p>

              <!-- a href="#" class="btn btn-primary">Go somewhere</a -->
            </div>

          <div class="card-footer text-muted">
              <a href="{{ url_for('del_job', jobkey=job.jobKey ) }}" class="btn btn-sm btn-danger" role="button">DEL</a>
              <a href="#link" class="btn btn-sm btn-secondary" role="button">Logs</a>
          </div>
    </div>
{% else %}
    <h1 class="display-6 fw-lighter">No Active Jobs</h1>
{% endfor %}

</div>

<div class="row">
<h2>Completed Jobs</h2>
</div>
<div class="row pt-2 border-top border-secondary border-3">

<div class="row">
    {% for job in jobs_inactive %}
        <div class="card" style="width: 18rem;" >
            {% if job.activeStatus() == 'done' %}
            <div class="card-header bg-success text-white">
            {% elif job.activeStatus() == 'fail' %}
            <div class="card-header bg-secondary text-white">
            {% endif %}
            <p class="h6">{{ job.projectId }}-{{ job.platform }}
                {% if job.errorCount %}<span class="badge bg-danger">{{ job.errorCount }}</span>{% endif %}
                {% if job.warnCount %}<span class="badge bg-warning text-dark">{{ job.warnCount }}</span>{% endif %}
                </p>
            </div>

            <div class="card-body">

                <p><em><a href="{{url_for('job_details', jobkey=job.jobKey )}}">{{ job.jobKey|friendly }}</a></em></p>
                <p><small>{{ job.timestamp | timestamp }}</small></p>
                <p><small>{{ job.version }} #{{ job.buildNum }}</small></p>
                {# <p><small>{{ job.worksteps }}</small></p> #}
                <a href="{{ url_for('del_job', jobkey=job.jobKey ) }}" class="btn btn-sm btn-danger" role="button">DEL</a>
                <a href="{{url_for('job_details', jobkey=job.jobKey )}}" class="btn btn-sm btn-secondary" role="button">Details</a>
            </div>
        </div>
    {% endfor %}
</div>

</div>
{% endblock %}